body {
  margin: 0px;
}

canvas {
  background-image: url("https://tinyurl.com/8ezmyxj7");
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: 4000;
  background-size: 4000px;
}

img {
  display: none;
}
