body {
  margin: 0px;
}

canvas {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtnLjslCtshlvTtjm5JbODvoh2reZgmfKvd9yYkpiV&s");
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: 4000;
  background-size: 1000px;
}

img {
  display: none;
}
